<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <script src="js/materialize.min.js"></script>
</head>
<body>

<!--Fragment Header-->
<div th:replace="~{fragments/header :: fr-header}"></div>
<h3 style="text-align: center" th:text="${isNew? 'Create New Book' : 'Update Book'}"><u>Create New Book</u></h3>
<div class="container">
    <form th:action="${isNew? '/create/submit' : '/update/submit'}" method="post" th:object="${book}" enctype="multipart/form-data">
        ID : <input type="number" th:field="*{id}">
        <span style="color: red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
        <br>
        Title : <input type="text" th:field="*{title}">
        <span style="color: red" th:if="${#fields.hasErrors('title')}" th:text="${#fields.errors('title')[0]}"></span>
        <br>
        Author : <input type="text" th:field="*{author}"><br>
        Publisher : <input type="text" th:field="*{publisher}"><br>
        Category:
        <select name="category.id" id="category_id">
            <option th:each="category: ${categories}" th:object="${category}" th:value="*{id}" th:text="*{name}"></option>
        </select>
        <br>

        Thumbnail : <input type="text" th:field="*{thumbnail}" hidden><br>
        <input type="file" name="file"><br><br>


        <!--<div class = "row">-->
            <!--<form class = "col s12">-->
                <!--<div class = "row">-->
                    <!--<label>Category Select</label>-->
                    <!--<select name="category.id" id="category_id">-->
                        <!--<option value = "" disabled selected>Select Category</option>-->
                        <!--<option th:each="category: ${categories}" th:object="${category}" th:value="*{id}" th:text="*{name}"></option>-->
                    <!--</select>-->
                <!--</div>-->

        <button class="waves-effect waves-light btn  brown darken-3">Submit</button>

        <!--<input type="submit" value="submit">-->
    </form>
    <br>
</div>



<!--footer-->
<div th:replace="~{fragments/footer :: fr-footer}"></div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script th:inline="javascript">
    var  book_cate_id = null;
    var categories = null;
    console.log(book_cate_id);
    console.log(categories);

    $(document).ready(function () {
        $.each(categories, function (index, category) {
            if(book_cate_id == category.id){
                $('#category_id option[value="'+book_cate_id  +'"]').attr('selected','selected');
            }
        })
    })
</script>
</html>