<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Book</title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <script src="js/materialize.min.js"></script>
</head>
<body>
    <!--[[${books}]]-->

    <!--Fragment Header-->
    <div th:replace="fragments/header :: fr-header"></div>

    <div class="container">
        <h3 style="text-align: center"><u>List all Books</u></h3>
        <div style="font-size: 20px; font-family: 'Adobe Heiti Std R'">Language : </div>
        <a href="/?lang=en"><button class="waves-effect waves-light btn blue-grey darken-2">English</button></a>
        <a href="/?lang=km"><button class="waves-effect waves-light btn blue-grey darken-2">Khmer</button></a>
        <a href="/?lang=th"><button class="waves-effect waves-light btn blue-grey darken-2">Thai</button></a>
        <a href="/create"><button class="waves-effect waves-light btn  brown darken-3" style="float: right">Create New Book</button></a>
        <br><br>
        <table border="1" style="border-collapse: collapse" class="highlight responsive-table">
            <tr>
                <th th:text="#{table.id}">ID</th>
                <th th:text="#{table.title}">Title</th>
                <th th:text="#{table.author}">Author</th>
                <th th:text="#{table.publisher}">Publisher</th>
                <th th:text="#{table.thumbnail}">thumbnail</th>
                <th th:text="#{table.category}">Category</th>
                <th th:text="#{table.action}">Action</th>
            </tr>

            <tr th:each="book : ${books}">
                <td>[[${book.getId()}]]</td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.getAuthor()}"></td>
                <td th:text="${book.publisher}"></td>
                <td>
                    <img style="width: 100px; height: 100px" th:src="${book.thumbnail}">
                </td>
                <td th:text="${book.category.name}"></td>
                <td>
                    <a th:href="@{/view/{id}(id=${book.getId()})}">
                        <button class="waves-effect waves-light btn">View</button>
                    </a>
                    <a th:href="@{/update/{id}(id=${book.getId()})}">
                        <button class="waves-effect waves-light btn green">Update</button>
                    </a>
                    <button class="waves-effect waves-light btn delete-btn red" th:attr="data-id=${book.getId()}">Delete</button>
                    <!--<button class="delete-btn" th:attr="data-id=${book.getId()}">Delete</button>-->
                </td>
            </tr>
        </table>
    </div>
    <br><br>
    <!--footer-->
    <div th:replace="fragments/footer :: fr-footer"></div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".delete-btn").click(function () {
            var data_id= $(this).attr("data-id");
                    if(confirm("Do you want to delete?")){
                        window.location="http://localhost:8989/remove/"+data_id;
                    }
        });

    });
</script>
</body>
</html>